<header>
    <div class="banner-cont">
      <p>CBD con un THC Inferior a 0.2%. <span>Envío gratis a partir de 40€</span></p>
    </div>
    <div class="header-top-row">
      <div class="lang-cont">
        <div class="lang-area">
          <img src="assets/img/home/spain.png" alt="Español"><i class="fa fa-caret-down"></i>
        </div>
      </div>
      <div class="logo-cont"><a href=""><img  src='{{ 'dealer-logo.png' | asset_img_url: '300x' }}'></a></div>
      <div class="contact-cont">
        <ul>
          <li class="search-cont">
            <a href="#" title="Search"><i class="fa fa-search"></i></a>
          </li>
          <li><a href="#" title="Account"><i class="fa fa-shopping-cart"></i></a></li> 
          <li style="visibility:hidden"><a href="#" title="Cart"><i class="fa fa-user-circle"></i></a></li>
          <li><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primnav-a-collapse" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button></li>
        </ul>
      </div>
    </div>
    <div class="header-bottom-row">
      <div class="primary-navigation">
        <div class="navbar-collapse collapse" id="primnav-a-collapse">
          <ul class="nav navbar-nav container">
            <li class="active">
              <a class="root-link" href="" target="">Inicio</a>
            </li>
            <li class="">
              <a class="root-link" href="tienda" target="">Tienda</a>
            </li>
            <li class="">
              <a class="root-link" href="tienda/flores" target="">Flores</a>
            </li>
            <li class="">
              <a class="root-link" href="tienda/pre-rolls" target="">Pre-Rolls</a>
            </li>
            <li class="">
              <a class="root-link" href="tienda/gummies" target="">Gummies</a>
            </li>
            <li class="">
              <a class="root-link" href="preguntas" target="">FAQS</a>
            </li>
            <li class="">
              <a class="root-link" href="contact-us" target="">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</header>
<div class="header-svg"><img src='{{'hover.png'}}'></div>