<section class="custom-tab flowers">
    <div class="cont-bg-top">
      <div>
        <img class="bg-top" src="assets/img/home/flowers-bg-top.svg" alt="">
      </div>
    </div>
    <div class="main-cont">
      <div class="img-cont img-product">
        <img src="assets/img/home/flowers.png" alt="">
      </div>
      <div class="cta-shop">
        <a href="#">Comprar</a>
      </div>
      <div class="txt">
        <p>Nuestras <span>3 variedades</span> de flores Rammbo tienen todo lo que necesitas</p>
        <p> <span>Descúbrelas:</span> </p>
      </div>
      <div class="cta-tabs">
        <div>
          <button onclick="flowersMenu(1)" type="button" name="button">ZKITTLEZ</button>
        </div>
        <div>
          <button onclick="flowersMenu(2)" type="button" name="button">GORILLA</button>
        </div>
        <div>
          <button onclick="flowersMenu(3)" type="button" name="button">GELATO</button>
        </div>
      </div>
      <div class="flowers-list product-tab">
        <div style="display:none" class="zkittlez">
          <div class="bg-product-top img-cont">
            <div>
              <img  src="assets/img/home/bg1-product-flowers.svg">
            </div>
          </div>
          <div class="flex-sec">
            <div class="img-cont main-product">
              <img src="assets/img/home/zkittlez-product.png" alt="">
            </div>
            <div class="txt-product">
              <div class="img-cont">
                <img src="assets/img/home/zkittlez.png" alt="">
              </div>
              <p>
                Nuestro Doypack de la variedad índica <span>“Zkittlez”</span>  posee gran aroma cítrico y tropical, con un ligero toque dulce y acaramelado.
              </p>
              <p>
                 La variedad Zkittlez recuerda en muchos aspectos a los caramelos de los cuales toma su nombre: sobre todo por sus colores brillantes, textura pegajosa y aroma afrutado, pero de algún modo también floral.
              </p>
              <div class="cta-cont">
                <a href="tienda/detalle">Comprar</a>
              </div>
            </div>
          </div>
          <div class="bg-product-foo img-cont">
            <div>
              <img  src="assets/img/home/bg2-product-flowers.svg">
            </div>
          </div>
        </div>
        <div style="display:none" class="gorilla">
          <div class="bg-product-top img-cont">
            <div>
              <img  src="assets/img/home/gorilla-bg-top.svg">
            </div>
          </div>
          <div class="flex-sec">
            <div class="img-cont main-product">
              <img src="assets/img/home/gorilla-product.png" alt="">
            </div>
            <div class="txt-product">
              <div class="img-cont">
                <img src="assets/img/home/gorilla.png" alt="">
              </div>
              <p>
                Nuestro doypack de la variedad índica <span>“Gorilla”</span>  posee un intenso aroma a diésel y tierra, con un ligero toque ácido.
              </p>
              <p>
                Gorilla CBD es una variedad de marihuana feminizada que mantiene la morfología, la insuperable producción de resina y el rico sabor kush de Gorilla, pero que disminuye sus efectos narcóticos fruto de un ratio THC:CBD 1:2.
              </p>
              <div class="cta-cont">
                <a href="tienda/detalle">Comprar</a>
              </div>
            </div>
          </div>
          <div class="bg-product-foo img-cont">
            <div>
              <img  src="assets/img/home/gorilla-bg-foo.svg">
            </div>
          </div>
        </div>
        <div style="display:none" class="gelato">
          <div class="bg-product-top img-cont">
            <div>
              <img  src="assets/img/home/gelato-bg-top.svg">
            </div>
          </div>
          <div class="flex-sec">
            <div class="img-cont main-product">
              <img src="assets/img/home/gelato-product.png" alt="">
            </div>
            <div class="txt-product">
              <div class="img-cont">
                <img src="assets/img/home/gelato.png" alt="">
              </div>
              <p>
                Nuestro Doypack de la variedad híbrida <span>“Gelato”</span>  posee un aroma cítrico y fresco, con un ligero toque dulce y cremoso.
              </p>
              <p>
                La flor recuerda a un postre o un helado, como bien indica el nombre, hecho flor. Sus cogollos son compactos, de tamaño mediano y su característica principal son el potencial terpénico que pueden llegar a tener.
              </p>
              <div class="cta-cont">
                <a href="tienda/detalle">Comprar</a>
              </div>
            </div>
          </div>
          <div class="bg-product-foo img-cont">
            <div>
              <img  src="assets/img/home/gelato-bg-foo.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cont-bg-foo">
      <div class="sub-cont">
        <img class="bg-foo" src="assets/img/home/flowers-bg.svg" alt="">
      </div>
    </div>
  </section>
  <section class="custom-tab rolls">
    <div class="cont-bg-top">
      <img class="bg-top" src="assets/img/home/bg-top-rolls.svg" alt="">
    </div>
    <div class="main-cont">
      <div class="img-cont img-product">
        <img src="assets/img/home/pre-rolls.png" alt="">
      </div>
      <div class="cta-shop">
        <a href="tienda/detalle">Comprar</a>
      </div>
      <div class="txt">
        <p>Si lo quieres todo hecho, en Rammbo tiene <span>2 tipos de Pre-rolls:</span> la cajetilla de 5 cigarrillos de CBD y la cajetilla de 5 cigarrillos de CBG</p>
        <p> <span>Descúbrelos:</span> </p>
      </div>
      <div class="cta-tabs">
        <button onclick="rollsMenu(1)" type="button">CBD</button>
        <button onclick="rollsMenu(2)" type="button">CBG</button>
      </div>
      <div class="rolls-list product-tab">
        <div style="display:none" class="cbd">
          <div class="flex-sec">
            <div class="img-cont main-product">
              <img src="assets/img/home/cbd-item.png" alt="">
            </div>
            <div class="txt-product">
              <div class="img-cont">
                <img src="assets/img/home/cbd.png" alt="">
              </div>
              <p>
                Disfruta rápidamente de nuestro CBD Premium adquiriendo estas cajetillas que contienen <span>5 pre-rolls totalmente liados y preparados.</span>
              </p>
              <p>
                Uno de nuestros producto estrella. Cada Pre-roll está hecho con la máxima delicadeza posible, ofreciendo así, un cono de puras flores CBD. Disfruta de tu roll ya hecho y 100% funcional. Solo tendrás que encenderlo.
              </p>
              <div class="cta-cont">
                <a href="tienda/detalle">Comprar</a>
              </div>
            </div>
          </div>
          <div class="bg-product-foo img-cont">
            <div>
              <img  src="assets/img/home/bg-cbd-foo.svg">
            </div>
          </div>
        </div>
        <div style="display:none" class="cbg">
          <div class="bg-product-top img-cont">
            <div>
              <img  src="assets/img/home/cbg-bg-top.svg">
            </div>
          </div>
          <div class="flex-sec">
            <div class="img-cont main-product">
              <img src="assets/img/home/cbg-product.png" alt="">
            </div>
            <div class="txt-product">
              <div class="img-cont">
                <img src="assets/img/home/cbg.png" alt="">
              </div>
              <p>
                Disfruta rápidamente de nuestro CBG Premium adquiriendo estas cajetillas que contienen <span>5 pre-rolls totalmente liados y preparados.</span>
              </p>
              <p>
                 La diferencia con el CBD es que la flor de CBG tiene un sabor y un aroma suaves, siendo los más notables la almendra, la manzanilla, la crema y los cítricos. Es una gran variedad para disfrutar en cualquier momento, ya que sus efectos son concentrados y estimulantes, pero no de una manera abrumadora.
              </p>

              <div class="cta-cont">
                <a href="tienda/detalle">Comprar</a>
              </div>
            </div>
          </div>
          <div class="bg-product-foo img-cont">
            <div>
              <img  src="assets/img/home/cbg-bg-foo.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cont-bg-foo">
      <div class="sub-cont">
        <img class="bg-foo" src="assets/img/home/bg-foo-prerolls.svg" alt="">
      </div>
    </div>
  </section>