<body  class="start-pag">
<section class="home">
  <div class="main-cont">
    <div class="first-section">
      <img style="width:100%" src='{{'heroshot.jpg' | asset_img_url: '1000x' }}'>
    </div>
    <div class="menu-cont">
      <h3>DESCUBRE RAMMBO:</h3>
      <div class="ctas-cont">
        <div class="active">
          <button onclick="selectMenu(1)" type="button" name="button">TODO</button>
        </div>
        <div>
          <button onclick="selectMenu(2)" type="button" name="button">FLORES</button>
        </div>
        <div>
          <button onclick="selectMenu(3)" type="button" name="button">PRE-ROLLS</button>
        </div>
        <div>
          <button onclick="selectMenu(4)" type="button" name="button">GUMMIES</button>
        </div>
      </div>
    </div>
  </div>
</section>
</body>