<body class="detail-product">
<section class="home">
    <div class="main-cont container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="img-cont">
          <img src="../../assets/img/home/gorilla-product.png" alt="">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="txt">
          <h3 style="border-top:2px solid #45B0F9" class="title">DOYPACK FLORES CBD - SABOR GORILLA</h3>
          <h3 class="price">10,95€</h3>
          <p>Nuestro doypack de la variedad índica “Gorilla” posee un intenso aroma a diésel y tierra, con un ligero toque ácido.</p>
          <p>Gorilla CBD es una variedad de marihuana feminizada que mantiene la morfología, la insuperable producción de resina y el rico sabor kush de Gorilla, pero que disminuye sus efectos narcóticos fruto de un ratio <span>THC:CBD 1:2.</span> </p>
          <ul class="clean-list">
            <li>
              <i class="fa fa-minus" aria-hidden="true"></i>
            </li>
            <li>
              <a href="#">1</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
</section>
</body>